<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-home"></i> Trang chủ <span class="fa fa-chevron-down"></span></a>
      </li>
      <li><a><i class="fa fa-edit"></i> Hệ thống <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a routerLink="/crisis-center" routerLinkActive="active">Nhóm</a></li>
          <li><a routerLink="/crisis-center" routerLinkActive="active">Quyền hệ thống</a></li>
          <li><a routerLink="/crisis-center" routerLinkActive="active">Người dùng</a></li>
          <li><a routerLink="/crisis-center" routerLinkActive="active">Log</a></li>
          <li><a routerLink="/crisis-center" routerLinkActive="active">Cấu hình</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-desktop"></i> Học trực tuyến <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a routerLink="/course" routerLinkActive="active">Khóa học</a></li>
          <li><a routerLink="/crisis-center" routerLinkActive="active">Video</a></li>
          <li><a routerLink="/crisis-center" routerLinkActive="active">Học viên</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-table"></i> Nội dung <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="tables.html">Chuyên mục</a></li>
          <li><a href="tables_dynamic.html">Tin bài</a></li>
          <li><a href="tables_dynamic.html">Quản lý trang</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-bar-chart-o"></i> Học viên <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="chartjs.html">Bình luận</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-clone"></i>Bán hàng <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="fixed_sidebar.html">Danh sách giao dịch</a></li>
          <li><a href="fixed_footer.html">Gửi email</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-windows"></i> Tiện ích <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="page_403.html">Bình luận</a></li>
          <li><a href="page_404.html">Footer</a></li>
        </ul>
      </li>
    </ul>
  </div>

</div>