<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>Hệ thống quản trị</h3>
    <ul class="nav side-menu">
      <li><a><i class="fa fa-home"></i> Trang chủ</a>
      </li>
      <li><a><i class="fa fa-desktop"></i> Hệ thống <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a routerLink="/main/role" routerLinkActive="active">Nhóm</a></li>
          <li><a routerLink="/main/function" routerLinkActive="active">Chức năng</a></li>
          <li><a routerLink="/main/user" routerLinkActive="active">Người dùng</a></li>
          <li><a routerLink="/main/activity" routerLinkActive="active">Nhật ký</a></li>
          <li><a routerLink="/main/error" routerLinkActive="active">Lỗi</a></li>
          <li><a routerLink="/main/setting" routerLinkActive="active">Cấu hình</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-chevron-down"></i> Sản phẩm <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a routerLink="/main/product-category" routerLinkActive="active">Danh mục</a></li>
          <li><a routerLink="/main/product" routerLinkActive="active">Sản phẩm</a></li>
          <li><a routerLink="/main/order" routerLinkActive="active">Hóa đơn</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-table"></i> Nội dung <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a routerLink="/main/post-category">Chuyên mục</a></li>
          <li><a routerLink="/main/post">Tin bài</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-clone"></i> Tiện ích <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a routerLink="/main/footer">Chân trang</a></li>
          <li><a routerLink="/main/feedback">Phản hồi</a></li>
          <li><a routerLink="/main/announement">Thông báo</a></li>
          <li><a routerLink="/main/contact">Thông tin liên hệ</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-bar-chart-o"></i>Báo cáo <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a routerLink="/main/revenue">Xuất báo cáo doanh thu</a></li>
          <li><a routerLink="/main/visitor">Xuất báo cáo truy cập</a></li>
          <li><a routerLink="/main/reader">Xuất báo cáo độc giả</a></li>

        </ul>
      </li>
    </ul>
  </div>

</div>