<div class="page-title">
  <div class="title_left">
    <h3>Người dùng <small>Danh sách tài khoản người dùng</small></h3>
  </div>

  <div class="title_right">
    <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Tìm kiếm...">
        <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Tìm!</button>
                    </span>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">

  <div class="clearfix"></div>

  <div class="x_panel">
    <div class="x_content">

      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Mã</th>
            <th>Họ tên</th>
            <th>Tài khoản</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of users">
            <td scope="row">{{item.id}}</td>
            <td>{{item.fullName}}</td>
            <td>{{item.userName}}</td>
            <td>{{item.email}}</td>
          </tr>

        </tbody>
      </table>
      <div class="col-md-12">
        <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)" [totalItems]="totalRow" [(ngModel)]="pageIndex" class="pagination-sm" previousText="&lsaquo;"
          nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
      </div>
    </div>
  </div>

</div>